{%  load staticfiles %}
<html>
    <head>
        <title>Financial Tracker Web App</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="nav-left">
                    <h1><a href="/">FTW Home</a></h1>
                    <a href="{% url 'transaction_new' %}">+ Nova Transação</a>
                </div>
            </header>
            {%  if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{%  url 'logout' %}">logout</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <p><a href="{% url 'login' %}">login</a></p>
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
    </body>

</html>