{% extends 'base.html' %}

{% block content %}
    {% for transaction in object_list|dictsortreversed:"date" %}
        <div class="transaction-entry">
            <p><a href="{% url 'transaction_detail' transaction.pk %}">{{ transaction.description }}</a></p>
            <p>{{ transaction.date }} Crédito {{ transaction.credit }} Débito {{ transaction.debit }}  </p>
        </div>
    {% endfor %}
{% endblock content %}
