{% extends 'base.html' %}

{%  block content %}
    <h1>Delete post</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Tem certeza que quer pagar {{ transaction.description }}?</p>
        <input type="submit" value="Confirm" />
    </form>
{% endblock content %}