{% extends 'base.html' %}

{% block content %}
    <h2>Nova transação</h2>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
{% endblock %}