{% extends 'base.html' %}

{% block content %}
    <div class="transaction-entry">
        <h2><a href="">{{ transaction.description }}</a></h2>
        <p>{{ transaction.date }}</p>
        <p>{{ transaction.credit }}</p>
        <p>{{ transaction.debit }}</p>
        <p>{{ transaction.account }}</p>
        <p>{{ transaction.category }}</p>
    </div>

    <p><a href="{%  url 'transaction_edit' transaction.pk %}">+ Editar Transação</a></p>
    <p><a href="{%  url 'transaction_delete' transaction.pk %}">+ Apagar Transação</a></p>
{% endblock content %}

